<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <link rel="stylesheet" href="../../stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>

    <header>

        <%- include ../layout/header.ejs%>

    </header>

    <div class="container bg-light">
        <div class="row">
            <div class="col-3">
                <aside>
                    <%- include ../layout/sidebar.ejs %>
                </aside>
            </div>

            <div class="col-9">
                <div class="container">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">รายชื่อเจ้าหน้าที่สาธารณสุขอำเภอบ้านไร่</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <a href="/list/somjad">คุณสมเจตน์ เจียมเจือจันทร์</a><br>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="/list/nakhon">คุณนคร สาแก้ว</a><br>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/list/vitsanu">คุณวิษณุ ศิริประพันธ์</a><br>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/list/nobpawan">คุณนพวรรณ นวกุล</a><br>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/list/viwan">คุณวิวรรธน์ สีแดง</a><br>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/list/nonglux">คุณนงลักษณ์ แสนพรม</a><br>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/list/siwarin">คุณศิวรินทร์ ต๊ะปินดา</a><br>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/list/pimchanok">คุณพิมพ์ชนก</a><br>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/list/naphat">คุณณภัทร สินบำรุง</a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>


    <footer>
        <%- include ../layout/footer.ejs%>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>