<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


<link rel="stylesheet" href="../../stylesheets/footer.css">

<div class="mt-3 page-footer">

    <div class="content container">
        <a class="item-footer" href="https://www.moph.go.th/">กระทรวงสาธารณสุข</a>
        <a class="item-footer" href="http://www.uthaithani.go.th/indexMain.html">สสจ.อุทัยธานี</a>
        <a class="item-footer" href="https://nkwweb.nhso.go.th/FrontEnd/Index.aspx">สปสช.</a>
        <a class="item-footer" href="">สคร.3</a>
        <a class="item-footer"
            href="https://www.cgd.go.th/cs/internet/internet/%E0%B8%AB%E0%B8%99%E0%B9%89%E0%B8%B2%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%812.html?page_locale=th_TH">กรมบัญชีกลาง</a>
        <a class="item-footer"
            href="https://www.facebook.com/UHC-Uthai-Thani-Healthy-Channel-115070913245377/">uthaithani helth
            chanal</a>
        <a class="item-footer" href="">จังหวัดอุทัยธานี</a>
        <a class="item-footer" href="http://www.nsc.go.th/?page_id=6076">ศบค.</a> <br>
        <a class="item-footer" href="">ตรวจสอบHDC</a>
        <a class="item-footer" href="">ตรวจสอบQOF</a>
        <a class="item-footer" href="">ตรวจสอบงบค่าเสื่อม</a>
        <a class="item-footer" href="https://anamai.moph.go.th/th">กรมอนามัย</a>
        <a class="item-footer" href="https://hss.moph.go.th/index2.php">กรมสนับสนุนฯ</a>
        <a class="item-footer" href="https://nonhr.moph.go.th/">กพ.</a>
        <a class="item-footer" href="">ประวัติกพ.7</a>
  
    </div>

</div>