<div class="content">
    <table class='table'>
      <thead align="center">
        <tr>
          <th scope="col">
            <img src="../images/index1.jpg" height="150">
            <p>นายสมเจตน์ เจียมเจือจันทร์</p> 
            <p>สาธารณสุขอำเภอบ้านไร่</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr align="center">
          <td>
            <img
              src="../images/maxresdefault.jpg"
              height="100">
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">ข้อมูลทั่วไป/โครงสร้างหน่วยงาน</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">แผนงานปฎิบัติประจำปี</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">แผนงานปฎิบัติประจำเดือน</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">แผนเงินบำรุงหน่วยบริการ</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">ระเบียบการเงินบัญชีล่าสุด</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">รวมคำสั่งอุทัยธานี</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">E-office</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>