
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Dashboard</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <a href="/dashboard/publicize/">เพิ่มรายการประชาสัมพันธ์</a>
              </td>
            </tr>
            <tr>
              <td>
                  <a href="/dashboard/order_by_host_health">เพิ่มรายการ รพ.สต.</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="/dashboard/event_images">เพิ่มรูปกิจกรรม</a>
              </td>
            </tr>
            <tr>
              <td>
                เพิ่มภาพสไลด์
              </td>
            </tr>
          </tbody>
        </table>
     
     