<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Add File</title>
</head>

<body>

    <header>
        <%- include ../../layout/header.ejs%>
    </header>

    <div class="container">
        <% if(messages.error) { %>
            <div class="alert alert-danger" role="alert">
                <%= messages.error %>
            </div>
            <% } %>
        
                <a href="/health_center" class="mt-5 btn btn-primary">go back</a>
                <br>
                <br>
        
                <div class="card">
                    <div class="card-header">
                        Add File
                    </div>
        
                    <div class="card-body">
                        <form action="/health_center/order_by_host_health/add" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>ชื่อผู้ส่ง</label>
                                <input type="text" class="form-control" name="name" >
                            </div>
                            <div class="form-group">
                                <label>รายการ</label>
                                <input type="text" class="form-control" name="title">
                            </div>
                            <div class="form-group">
                                <label>ลักษณะการแจ้ง</label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="report" value="แจ้งเพื่อทราบ">
                                    <label class="form-check-label" for="options1">แจ้งเพื่อทราบ</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="report" value='แจ้งเพื่อดำเนินการ'>
                                    <label class="form-check-label" for="options2">แจ้งเพื่อดำเนินการ</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>วันที่ส่ง</label>
                                <input type="date" class="form-control" name="date">
                            </div>
                            <div class="form-group">
                                <label>กำหนดส่ง</label>
                                <input type="date" class="form-control" name="deadline">
                            </div>
                            <div class="form-group">
                                <input type="file" name="file">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-info" value="add">
                            </div>
                        </form>
                    </div>
                </div>
    
    </div>
    
</body>

</html>